.review_btn {
	all: unset;
	font-size: 10px;
	color: darkgray;
	outline: solid darkgray 1px;
	padding: 2px;
	border-radius: 7px;
}

.review_btn:hover {
	color: white;
	background-color: darkgray;
}

.widget-desc li .widget-desc li a, .widget-desc li i {
	pointer-events: none;
}
